<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
	<title>{% block titulo %}{% endblock %} - UnLocker</title>
</head>
<body>
	<header class="contenedor barra-navegacion">
		<a href={{ url_for('index') }} class="logo-pagina">
			Un-Locker
		</a>
		<nav class="navegacion navegacion-admin">
			<div class="url">
				<a href={{ url_for('renovacion') }}>Renovacion</a>
			</div>
			<div class="url">
				<a href={{ url_for('solicitudes') }}>Solicitudes</a>
			</div>
			<div class="url">
				<a href={{ url_for('listaLockers') }}>Lista lockers</a>
			</div>
			<div class="url">
				<a href={{ url_for('cerrarSesion') }}>Cerrar Sesión</a>
			</div>
		</nav>
	</header>
	{% block contenido %}
	{% endblock %}
</body>
</html>