{% extends 'baseAdmin.html' %}

{% block titulo %}Solicitud de locker{% endblock %}

{% block contenido %}
	<section class="contenedor">
		<div id="saludo">
			<h2>¿Está seguro que desea eliminar las renovaciones?</h2>
		</div>

		<form action={{ url_for('eliminarRenovaciones') }} method="POST">
			<div class="input-solicitud">
				<label for="contrasenia">Confirmar contraseña:</label>
				<input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña" required/>
			</div>
			<input type="submit" value="Confirmar" class="boton boton-confirmacion"/>
		</form>
	</section>
{% endblock %}