<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
	<link rel="icon" type="image/vnd.microsoft.icon" href={{ url_for('static', filename='img/favicon.png') }}>
	<title>Pagina principal - UnLocker</title>
</head>
<body class="fondo">
	<header class="contenedor barra-navegacion">
		<a href={{ url_for('index') }} >
			<img src={{ url_for('static', filename='img/logo.png')  }} class="logo-pagina"/>
		</a>
		<nav class="navegacion">
			<div class="url">
				<a href={{ url_for('index') }}>Inicio</a>
			</div>
			<div class="url">
				<a href={{ url_for('menuAlumno') }}>Alumno</a>
			</div>
			<div class="url">
				<a href={{ url_for('contacto')}}>Contacto</a>
			</div>
		</nav>
	</header>
	
	<section class="contenedor">
		<div id="saludo" class="saludo-index">
			<h2>Bienvenido a Un-locker</h2>

			<p>Esta plataforma te ayudará a registrarte en la lista de espera para poder obtener un locker. Además puedes consultar el estado en que se encuentra tu solicitud una vez que te hayas registrado.</p>

			<p>Si no te has registrado, a continuación deberás seleccionar la opción de "Estudiante" para poder proceder con tu registro y anexar tu nombre a la lista de espera.</p>
			
		</div>

		<!-- <div id="slider-principal">
			<img src={{ url_for('static', filename='img/escom.jpg') }} alt="">
		</div> -->

		<div class="navegacion-acciones">
			<div class="acciones">
				<a href={{ url_for('login') }}>
					<button class="boton boton-vino">
						Iniciar sesión
					</button>
				</a>
				
				<a href={{ url_for('menuAlumno') }}>
					<button class="boton boton-vino">
						Estudiante
					</button>
				</a>
			</div>
		</div>
	</section>

</body>
</html>


