{% extends 'basePrincipal.html' %}

{% block titulo %}Menu alumno{% endblock %}

{% block contenido %}
	<section class="contenedor">
		<div id="saludo">
			<h2>Solicitud de locker</h2>
			<p>Para solicitar un casillero, por favor llene los siguientes campos:</p>
		</div>

		<div class="acciones-menu-alumno">
			<div class="accion-menu-alumno">
				<a href={{ url_for('solicitud') }}>
					<button class="boton boton-vino">Solicitar casillero</button>
				</a>
			</div>

			<div class="imagen-menu">
				<img src={{ url_for('static', filename='img/ipn.png') }} alt="">					
			</div>

			<div class="imagen-menu">
				<img src={{ url_for('static', filename='img/ipn.png') }} alt="">						
			</div>

			<div class="accion-menu-alumno">
				<a href={{ url_for('fichaLista') }}>
					<button class="boton boton-vino">Consultar lista de espera</button>
				</a>
			</div>
		</div>
	</section>
{% endblock %}